body {
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif;
  font-size: 14px
}

a {
  color: #00B7FF;
}
 
.nav{  
  font-size: 0;
  background:#E53935;
  height: 50px;
}
.left-ctn{
  margin-right: auto;
  float: left;
}
.left-ctn div{
  display: inline-block;
}

.right-ctn{
  display: inline-block;
  margin-left: auto;
  float: right;
}

.right-ctn div{
  display: inline-block;
}

.center-ctn {
  text-align: center
}

.menuBar-btn{
  font-size: 18px;
  display: inline-block;
  height: 50px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  color: white;
  border-radius: 0px
}

.menuBar-btn:hover{
  background: white;
  color: black;
  text-decoration: none;
}

.menuBar-btn2{
  font-size: 16px;
  top: 0;
  display: inline-block;
  height: 50px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  color: white;
}

.menuBar-btn2:hover {
  color: white;
  text-decoration: none
}

.header {
  height: calc(430px + (350 - 430)*(100vw - 400px)/(800-400));
  width: 100%;
  background: rgba(229, 56, 53, 0.95);
}

.header:hover {
  background: rgba(229, 56, 53, 0.95);
}

.header-title {
  line-height: 15vh;
  text-align: center;
  font-size: calc(30px + (50 - 30)*(100vw - 400px)/(800-400));
  color: white;
}

.header-btn1 {
  display: inline-block;
  border-radius: 0px;
  height: 50px;
  width: 100px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  color: white; 
  background: black;
}

.header-btn1:hover, :active{
  background: #E0E0E0;
  color: black;
  text-decoration: none;
}

.header-btn2 {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  color: white;
}

.header-btn2:hover, :active {
  color: #E0E0E0;
  text-decoration: none;
}


/* Login Style */
.login-row {
  margin-top: 10px;
  margin-left: 10px;
}

.login-column {
  display: inline-block;
  flex: 50%;
  top: 0;
  padding: 10px;
  height: 50vh;
  width: 35vw;
}

@media screen and (max-width: 600px) {
  .login-column {
      width: 100%;
  }
}

.login-column h5{
  font-size: 18px;
  text-align: left;
  margin-left: 15vw;
  margin-top: 8hw;
}

.login-vertical-line {
  display: inline-block;
  width: 5px;
}

.login-vertical-line div {
  display: inline-block;
  border-left: thick solid black;
  height: 25vh;
  width: 35vw;
  padding: 10px;
  text-align: center;
}

/* Category */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  grid-column-gap: calc(5px + (10 - 5)*(100vw - 600px)/(800-600));
  grid-row-gap: calc(5px + (10 - 5)*(100vw - 600px)/(800-600));
}

.grid-item {
  padding: 20px;
  text-align: center;
}

.category-btn {
  display: inline-block;
  height: 15vw;
  width: 15vw;
  text-align: center;
  color: black;
  background: #E0E0E0;
  line-height: calc(85px + (204 - 85)*(100vw - 600px)/(800-600));
  font-size: calc(16px + (18 - 16)*(100vw - 600px)/(800-600));
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto;
  }

  .category-btn {
    height: 200px;
    width: 200px;
    line-height: calc(215px + (600 - 215)*(100vw - 400px)/(600-400));;
    font-size: calc(16px + (18 - 16)*(100vw - 400px)/(600-400));
  }
}

.grid-item :hover {
  background: #E53935;
  text-decoration: none;
}

.category-btn :hover {
  color: white;
}

/* Profile */ 
.box {
  display: inline-block;
  width: 100%;
  margin-top: 1vh;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 100%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  color: white;
  background-color: #E53935;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  height: 100%;
  width: 70%;
  border-left: none;

}