<header class="header">
	{{#if login}}
		{{> menuBar}}
		<h1 class="header-title">Gestão Inteligente de Stocks</h1>
	{{else}}
		{{> menuBarHomeOnly}}
		<h1 class="header-title">Gestão Inteligente de Stocks</h1>
		<br>
		<div class="center-ctn">
			<a class="header-btn1" href="/login">Login</a>
			<br>
			<br>
			<a class="header-btn2" href="/signup" style="display: inline-block">
				Don't have an account ?  
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	{{/if}}
</header>