<style>
    table {
        margin-top: 1vh;
        margin-left:auto; 
        margin-right:auto;
        width: 80%;
    }

    td, th {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #E0E0E0;
    }
</style>

{{#each houses}}
    <div class="card">
        <div style='text-align: center'>
            <h4  style='font-size:30px;'> {{houseName}}</h4>    
            <span class='glyphicon glyphicon-home' style='font-size:100px; color:#ff9800'></span>
        </div>
        <div class="container">
            <h4 align="left">Members:</h4> 
        </div>
        <div style='text-align: center'>
            {{#each members}}
                <p>{{member}}</p>
            {{/each}}
            <br>
        </div>
    </div>
{{/each}}

