<style>
	body{
		border: 0%;
		margin: 0%;
		padding: 0;
	}

</style>

<div id="mySidenav" class="sidenav">
  <a href="/" id="home">Home</a>
  <a href="/lists" id="lists">Lists</a>
  <a href="/categories" id="categories">Categories</a>
  <a href="#" id="recipes">Recipes</a>
</div>

<nav class="nav">
	<h1 class="header-title">Gestão Inteligente de Stocks</h1>
	<div class="right-ctn">
		<div><a class="menuBar-btn2" href="/users/{{username}}"><span class="glyphicon glyphicon-user"></span> Profile</a></div>
    	<div><a class="menuBar-btn2" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></div>
	</div>
</nav>

