<div>
    <p></p>
    <fieldset>
        <legend>Basic Information</legend>
        <div>
            <label>Full Name: </label>
            <span>{{basicInfo.fullname}}</span>
        </div>
        <div>
            <label>Email: </label>
            <span>{{basicInfo.email}}</span>
        </div>
        <div>
            <label>Username: </label>
            <span>{{basicInfo.username}}</span>
        </div>
        <div>
            <label>Birthday: </label>
            <span>{{basicInfo.birthday}}</span>
        </div>
    </fieldset>

    <fieldset>
        <legend>Private Information</legend>
    </fieldset>
</div>
