<header class="header">
	{{> menuBarHomeOnly}}
	<h1 class="header-title">Gestão Inteligente de Stocks</h1>
	<br>
	<div class="center-ctn">
		<br>
		<br>
		<a class="header-btn2" href="{{headerBtn2Action}}">
			  {{headerBtn2}}
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</header>