<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | Gestão Inteligente de Stocks</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 <body style="background-color:white">	
		<div class="row">
			{{> menuBar }}
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-10">
					{{{body}}}
				</div>
      </div>
		</div>
	</body>
</html>
