<!DOCTYPE html>
<html>
	<head>
		<title>{{title}} | Gestão Inteligente de Stocks</title>

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body style="background-color:white">	
			{{> header}}
		<div class="container">
			{{{body}}}
		</div>
	</body>
</html>
