
{{#if userLoggedIn}}
    <div><a class="btn2" href="/{{username}}"><span class="glyphicon glyphicon-user"></span> Profile</a></div>
    <div><a class="btn2" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></div>
{{else}}
    <div><a class="btn2" href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></div>
    <div><a class="btn2" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></div>
{{/if}}
