<style>
	/* The navigation bar */
	.navbar {
		overflow: hidden;
		position: fixed; /* Set the navbar to fixed position */
		top: 0; /* Position the navbar at the top of the page */
		width: 100%; /* Full width */
	}
	/* Links inside the navbar */
	.navbar a {
		float: left;
		display: block;
		background-color: #E53935;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	/* Change background on mouse-over */
	.navbar a:hover {
		background: white;
		color: black;
	}
	.active {
    	background-color:  white;
		color: black;
	}
</style>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #E53935; padding:0">
  	<div style="padding:0; margin:0">
	  	<div class="active" style="display: inline-block; height:100%; padding:0; margin:0"><a href="/">Home</a></div>
	  	<div style="display: inline-block; height:100%; padding:0; margin:0"><a href="/">Products</a></div>
	  	<div style="display: inline-block; height:100%; padding:0; margin:0"><a href="/">Recipes</a></div>
	  	<div style="display: inline-block; height:100%; padding:0; margin:0"><a href="/">Lists</a></div>
		{{> accountButtons}}
  	</div>
</nav>