<style>
	body{
		border: 0%;
		margin: 0%;
		padding: 0;
	}
</style>

<nav class="nav">
	<div class="left-ctn">
		<div><a class="menuBar-btn" href="/">Home</a></div>
		<div><a class="menuBar-btn" href="/">Lists</a></div>
		<div><a class="menuBar-btn" href="/">Products</a></div>
		<div><a class="menuBar-btn" href="/">Recipes</a></div>
  	</div>
	<div class="right-ctn">
		<div><a class="menuBar-btn2" href="/users/{{username}}"><span class="glyphicon glyphicon-user"></span> Profile</a></div>
    	<div><a class="menuBar-btn2" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></div>
	</div>
</nav>

