<header class="header">
	{{> menuBarHomeOnly}}
	<h1 class="header-title">Gestão Inteligente de Stocks</h1>
	<br>
	<div class="center-ctn">
		<br>
		<br>
		<a class="header-signup-btn" href="/login" style="display: inline-block">
			Already have an account ?  
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</header>