<style>
	body{
		border: 0%;
		margin: 0%;
		padding: 0;
	}
	
</style>
<nav class="nav">
	<div class="navbar-header">
      <p class="navbar-brand">Gestão Inteligente de Stocks</p>
	</div>
	<div class="right-ctn">
		<div><a class="menuBar-btn2" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></div>
	</div>
</nav>
<div id="mySidenav" class="sidenav">
  <a href="/" id="home">Home</a>
</div>
