<div class="grid-container">
    {{#each categories}}
        <div class="grid-item">
            <div class="category-block">
                <p><a href ='/categories/{{name}}'>{{name}}<!--<img width='200px' src=''>--></a></p>
            </div>
        </div>
    {{/each}}
</div>