<div class="register-row">
    <form action="/signup" method="POST">
        <p></p>
        <fieldset>
        <legend>Basic Information</legend>
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" placeholder="Enter Full Name" name="fullName" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" placeholder="Enter Email" name="email" class="form-control" required/>
        </div>
        <div class="form-group">
                <label for="username">Username</label>
                <input type="text" placeholder="Enter Username" name="username" class="form-control" required/>
        </div>
        </fieldset>
        <p></p>
        <fieldset>
        <legend>Birthday</legend>
        <input type="date" value="2000-01-01">
        </fieldset>
        <p></p>
        <fieldset>
        <legend>Private Information</legend>
         <div class="form-group">
            <label for="password">Password:</label>
            <input title="Password must contain at least 6 characters, including UPPER/lowercase and numbers" type="password" placeholder="Enter Password" name="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" id="password1">
        </div>
        
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input title="Please enter the same Password as above" type="password" placeholder="Enter Confirm Password" name="confirmPassword" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" id="password2">
        </div>
        </fieldset>
        <label><input type="checkbox" checked="checked" name="remember"> Remember me</label>
        <div class="form-group">
                <input type="submit" value="SIGN IN" class="form-control"/>
        </div>
    </form>
</div>

<script type="text/javascript">
window.onload = function () {
	document.getElementById("password1").onchange = validatePassword;
	document.getElementById("password2").onchange = validatePassword;
}
function validatePassword(){
var pass2=document.getElementById("password2").value;
var pass1=document.getElementById("password1").value;
if(pass1!=pass2)
	document.getElementById("password2").setCustomValidity("Passwords Don't Match");
else
	document.getElementById("password2").setCustomValidity('');	 
//empty string means no validation error
}
</script>