<style>
    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

    a:hover {
        background-color: #BEBEBE;
        color: black;
    }

    .next {
        background-color: #dd4b39;
        color: black;
    }

    .round {
        border-radius: 15%;
    }
</style>

<div>
    <h2>Initial Setup - House</h2>
    <div style="text-align: center;">
        <span class='glyphicon glyphicon-home' style='font-size:100px; display:inline-block; float=center'></span>
        <h3>Let's create your house!</h3>
    </div>
    <br>
    <div class= 'container' style="width: 32%; text-align: center";>
        <form method="POST" action="/newhouse">
            <input type="text" placeholder="House's Name" name="houseName" class="form-control">
        </form>
        <br>
        <br>
        <a href="/setup/familyMembers" class="next round">Next &#8250;</a>    
    </div>
    <br>
    <br>
    <div style="text-align: center;">
        <a href="/" style="display: inline-block; color: black">
            Already have a House ?  
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
