<style>
/* The container */
.containerLabel {
    display: inline;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 18px;
}

/* Hide the browser's default radio button */
.containerLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
	left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerLabel:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #dd4b39;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerLabel input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerLabel .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

table {
        margin-top: 1vh;
        margin-left:auto; 
        margin-right:auto;
        width: 80%;
    }

    td, th {
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #E0E0E0;}

    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .number-input {
        border: 2px solid #BEBEBE;
        display: inline-flex;
    }

    .number-input,
    .number-input * {
        box-sizing: border-box;
    }

    .number-input button {
        outline:none;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        margin: 0;
        position: relative;
    }

    .number-input button:before,
    .number-input button:after {
        display: inline-block;
        position: absolute;
        content: '';
        width: 1rem;
        height: 2px;
        background-color: #212121;
        transform: translate(-50%, -50%);
    }
    .number-input button.plus:after {
        transform: translate(-50%, -50%) rotate(90deg);
    }

    .number-input input[type=number] {
        font-family: sans-serif;
        max-width: 5rem;
        padding: .5rem;
        border: solid #BEBEBE;
        border-width: 0 2px;
        font-size: 2rem;
        height: 3rem;
        font-weight: bold;
        text-align: center;
    }

    btn {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

    btn:hover {
        background-color:#BEBEBE;
        color: black;
    }

    .next {
        background-color: #dd4b39;
        color: black;
    }

    .round {
        border-radius: 15%;
    }
</style>

<h2>Initial Setup - Allergies</h2>

<div align="center">
    <h4>
        Are there members with allergies in the house ?
    </h4>
    <label class="containerLabel">Yes
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
    </label>
    <label class="containerLabel">No
        <input type="radio" name="radio">
        <span class="checkmark"></span>
    </label>
</div>
<p><br><h4> Add new allergen :</h4></p>
<div>
    <table class="table card">
        {{#each allergens}}
            <tr>
                <td>
                    <h3>{{allergenName}}</h3>
                </td>
                <td>
                    <div class="number-input">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                </td>
            </tr>   
        {{/each}}
        <tr>
            <td>
                <form method="POST" action="/newallergen">
                    <div class="form-group">
                        <input type="text" placeholder="Lactose" name="allergenName" class="form-control">
                    </div>
                </form>
            </td>
        </tr>
    </table>
    <div>
        <p align="right">
            <form action="/initialSetUp" method="PUT"></form>
                <input class="btn next round" type="button" value="Start" style="float: right;"/>
            </form>
        </p>
    </div>
</div>