<div class="login-row">
    <div class="login-column">
        <h5>LOGIN</h5>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" placeholder="Enter Username" name="username" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" placeholder="Enter Password" name="password" class="form-control" required/>
            </div>
            <label><input type="checkbox" checked="checked" name="remember"> Remember me</label>
            <div class="form-group">
                <input type="submit" value="SIGN IN" class="form-control"/>
            </div>
            <label class="right-cnt"><span class="psw">Forgot <a href="#">password?</a></span></label>
        </form>
    </div>

    <div class="login-vertical-line">
        <div></div>
        OR
        <div></div>
    </div>
    
    
    <div class="login-column">
        <p>SIGN IN</p>
    </div>
</div>