<div class="grid-container">
    {{#each categories}}
        <div class="grid-item">
            <a class="category-btn" href ='/categories/{{name}}'>{{name}}<!--<img width='200px' src=''>--></a> 
        </div>
    {{/each}}
</div>

